/* .backdrop {
  width: 530px;
  height: 530px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: 20px 20px 26px #080808, -20px -20px 26px #0e0e0e;
  margin-top: 150px;
  left: 4rem;
  position: relative;
} */

.mp-wrapper {
  display: grid;
  grid-template-columns: minmax(10em, 25%) 1fr;
}

.mp-poster {
  width: 12em;
  height: auto;
  border: 2px solid #fff;
}

.mp-wrapper-poster,
.mp-wrapper-info {
  padding: 2em;
  margin-top: 10em;
}

.mp-movie-detail {
  margin-right: 1em;
}

.mp-wrapper-genre {
  margin: 0.5em 0;
}

#mp-genre {
  margin-right: 1em;
  font-size: 1.2em;
}

.mp-wrapper-detail {
  margin: 0.5em 0em;
}

.mp-overview {
  line-height: 1.8em;
}

.mp-wrapper-btn {
  margin: 2em 0em;
}

.mp-wrapper-description {
  font-size: 1em;
}

/* .title {
  position: relative;
  left: 40rem;
  margin-top: -530px;
}

.overview {
  position: relative;
  left: 40rem;
  margin-top: 40px;
  width: 50%;
  font-family: Lucida Handwriting;
}

.vote_average {
  left: 40rem;
  position: relative;
  margin-top: 25px;
  border-radius: 50%;
  width: 38px;
  height: 33px;
  padding: 10px;

  background: yellow;
  border: 2px solid red;
  color: black;

  font: 27px Arial, sans-serif;
}

.user_score {
  left: 45rem;
  position: relative;
  margin-top: -47px;
}

.release_date {
  left: 60rem;
  position: relative;
  margin-top: -37px;
}

.runtime {
  left: 70rem;
  position: relative;
  margin-top: -39px;
} */
