.category-poster {
  height: 14em;
  padding-top: 1em;
  object-fit: contain;
  margin: 0.5em;

  border-radius: 0.2vw;
  width: auto;
  transition: transform 450ms;
}

.category-poster:hover {
  transform: scale(1.1);
}

.category-poster-link {
  /* width: 200px; */
}
