span {
  color: #f1f2f6;
  margin-right: 15px;
  font-weight: bolder;
}

/* poster-dimensions:[height:439px, width:780px] */

.wrapper {
  margin: 15px 0;
  width: 100%;
  height: auto;
}

.poster {
  width: 780px;
  height: 439px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  opacity: 65%;
  box-shadow: 20px 20px 26px #080808, -20px -20px 26px #0e0e0e;
}

.wrapper-info {
  position: relative;
  bottom: 225px;
  padding: 25px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #fff;
  height: 75px;
}
