/* poster-dimensions:[height:720px, width:1280px] */

.feature-wrapper {
  margin: 15px 0;
  width: 100%;
  height: auto;
}

.feature-poster {
  width: 1280px;
  height: 720px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-wrapper-info {
  padding-left: 50px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.feature-wrapper-header {
  line-height: normal;
  font-size: 2.5rem;
}

.feature-wrapper-details {
  margin: 10px 0px;
  font-weight: bold;
}

.feature-movie-details {
  color: #f1f2f6;
  margin-right: 15px;
  font-weight: bolder;
}

.feature-wrapper-button {
  padding-bottom: 50px;
}

#genre {
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
}
